<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/chatapp/favicon.ico>
    <title>chatapp</title>
    <link href=/chatapp/css/chatapp.f370e749.css rel=prefetch>
    <link href=/chatapp/css/chatapp~home~profile.27c9af97.css rel=prefetch>
    <link href=/chatapp/css/home.53fd39b9.css rel=prefetch>
    <link href=/chatapp/css/profile.019471c5.css rel=prefetch>
    <link href=/chatapp/js/chatapp.048d109b.js rel=prefetch>
    <link href=/chatapp/js/chatapp~home~profile.00349bf1.js rel=prefetch>
    <link href=/chatapp/js/home.991c2ea4.js rel=prefetch>
    <link href=/chatapp/js/profile.eb9c8720.js rel=prefetch>
    <link href=/chatapp/css/app.04640ade.css rel=preload as=style>
    <link href=/chatapp/css/chunk-vendors.edae7888.css rel=preload as=style>
    <link href=/chatapp/js/app.316d5c10.js rel=preload as=script>
    <link href=/chatapp/js/chunk-vendors.12fc7e78.js rel=preload as=script>
    <link href=/chatapp/css/chunk-vendors.edae7888.css rel=stylesheet>
    <link href=/chatapp/css/app.04640ade.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but chatapp doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=/chatapp/js/chunk-vendors.12fc7e78.js></script>
    <script src=/chatapp/js/app.316d5c10.js></script>
</body>

</html>