<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel=icon href=/chatapp/favicon.ico>
    <title>homeapp</title>
    <link href=/chatapp/css/chatapp.f370e749.css rel=prefetch>
    <link href=/chatapp/css/chatapp~personal.27c9af97.css rel=prefetch>
    <link href=/chatapp/css/personal.84cd8b9e.css rel=prefetch>
    <link href=/chatapp/js/chatapp.1329370f.js rel=prefetch>
    <link href=/chatapp/js/chatapp~personal.0029d910.js rel=prefetch>
    <link href=/chatapp/js/personal.72084252.js rel=prefetch>
    <link href=/chatapp/css/app.04640ade.css rel=preload as=style>
    <link href=/chatapp/css/chunk-vendors.edae7888.css rel=preload as=style>
    <link href=/chatapp/js/app.659f23d5.js rel=preload as=script>
    <link href=/chatapp/js/chunk-vendors.7438e961.js rel=preload as=script>
    <link href=/chatapp/css/chunk-vendors.edae7888.css rel=stylesheet>
    <link href=/chatapp/css/app.04640ade.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but homeapp doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=/chatapp/js/chunk-vendors.7438e961.js></script>
    <script src=/chatapp/js/app.659f23d5.js></script>
</body>

</html>