<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>权限列表</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="/lib/weadmin/css/font.css" />
		<link rel="stylesheet" href="/lib/weadmin/css/weadmin.css" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
		  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/lib/layui/layui.js" charset="utf-8"></script>

	</head>
 
	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:;">首页</a> <a href="javascript:;">权限管理</a>
				<a href="javascript:;"> <cite>权限列表</cite></a>
			</span>
			<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon layui-icon-refresh"></i>
			</a>
		</div>

		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					会员搜索：
					<div class="layui-inline">
						<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input" />
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach">
						<i class="layui-icon layui-icon-search"></i>
					</button>
				</form>
            </div>
            
			<div class="weadmin-block">
				<button class="layui-btn" onclick="WeAdminShow('添加权限','/admin/auths/auth/add',600,400)">
					<i class="layui-icon layui-icon-add-circle-fine"></i>添加
				</button>
            </div>
            
			<table class="layui-table" id="authList">
				
            </table>

            <script type="text/html" id="toolbar">
                <a title="删除" onclick="auth_delete(this,'{{d.id}}')" href="javascript:;">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
            </script>
		</div>
        
        <script>
            layui.extend({
                admin: '{/}/lib/weadmin/js/admin'
            });
            layui.use(['table', 'jquery', 'admin', 'form'], function() {
                var table = layui.table,
                    $ = layui.jquery,
                    admin = layui.admin,
                    form = layui.form;

                //第一个实例
                table.render({
                    elem: '#authList'
                    ,height: 312
                    ,url: '/admin/auths/auth/authlist' //数据接口
                    ,page: true //开启分页
                    ,cols: [[ //表头
                    {field: 'id', fixed: 'left', title: 'ID', width:'20%', sort: true}
                    ,{field: 'authname', title: '权限名称', width:'30%', sort: true}
                    ,{field: 'authurl', title: '权限规则', width:'40%', sort: true}
                    ,{fixed: 'right', width:'10%', align:'center', toolbar: '#toolbar'} //渲染操作工具
                    ]]
                });

                window.auth_delete = function (obj, id) {
                    layer.confirm('确认要删除吗？', function(index) {
                        $.ajax({
                            method: 'get',
                            url: '/admin/auths/auth/delete/'+id,
                        }).then(function (res) {
                            if (res.state == 'ok') {
                                location.reload();
                                // $(obj).parents('tr').remove();
                                layer.close(index);
                            }
                            layer.msg(res.message, {
                                icon: 5,
                                time: 1000
                            });
                        });
                    });
                }

            });
        </script>
	</body>
</html>
